
<%= form_for([@post, @comment]) do |f| %>

  <%= render partial: 'model_errors', object: @comment %>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, cols: 40, rows: 4 %>
  </div>

  <div class="actions">
    <%= f.submit 'COMENTA!!!!' %>
  </div>
<% end %>
