
.post
  %h2= "#{post.title}"
  %small= "by #{post.user.name}"
  %em= link_to post.url, post.url

  %p= I18n.l post.updated_at, format: :short

  - if params[:controller] == 'posts'
    %span.post_comments= link_to_comments(post)
    .actions
      = link_to('Show', post) unless current_page?(post)
      - if current_user == post.user
        |
        = link_to 'Edit', edit_post_path(post)
        |
        = link_to 'Destroy', post, method: :delete,
          data: { confirm: 'Are you sure?' }
  -# else
    = params.inspect
